html {
    font-size: 10px;
}

body {
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

.top-nav-back {
    background-color: #0C4B33;
    width: 100%;
    height: 70px;
}

#welcome {
    font-size: 3rem;
    font-family: "sans-serif";
    line-height: 70px;
    vertical-align: center;
    color: white;
    overflow: hidden;
    float: left;
}

ul li {
    list-style: none;
    float: left;
    padding: 0 20px;
    color: white;
}

ul li > a {
    font-size: 1.5rem;
    color: white;
    vertical-align: center;
    line-height: 7rem;
    float: right;
}

ul li > a:hover {
    color: #6f42c1;
}

form {
    display: block;
    margin: 10px;
}

.ghost-center {
    border: 2px dashed #f5c6cb;
    padding: 10px 0;
}

.ghost-center ::before {
    height: 100%;
    content: " ";
    width: 1px;
    display: inline-block;
    vertical-align: middle;
}

.ghost-center  p {
    display: inline-block;
    vertical-align: middle;
    background-color: #0C4B33;
    color: white;
    margin: 0 auto;
    width: 12rem;
    padding: 1rem;
}


