<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
    <title>Title</title>

</head>
<body>
<div class="top-nav-back"></div>
<iframe src="http://www.taobao.com" height="480px"  scrolling="yes"></iframe>



<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}" rel="script"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="script"></script>
</body>
</html>